* {
  margin: 0;
  outline: 0;
  font-family: nunito, helvetica, Arial, sans-serif;
  scroll-behavior: smooth;
}

.app {
  /* background-image: radial-gradient(
    rgba(50, 165, 105, 0.3) 1px,
    transparent 0px
  );
  background-size: 20px 20px; */

  display: flex;
  flex-direction: column;
  height: fit-content;
}

.hor__center {
  text-align: center;
}

.vertical__center {
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;
}

.blog__header {
  padding-top: 5rem;
  margin-bottom: 3rem;
  text-align: center;
}

.bold {
  font-weight: bold;
}

.textLeft {
  text-align: left;
}

.form__input {
  border: 1px solid #ebebeb;
  border-radius: 5px;
  font-size: 1.2rem;
  padding: 5px 10px;
  background-color: #fffce3;
}
.card__link__disable {
  cursor: default !important;
  color: gray !important;
}

.margin__left__right__5px {
  margin-left: 5px;
  margin-right: 5px;
}

.card__link {
  cursor: pointer;
  background-color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  color: #0977bc;
  text-decoration: none !important;
  border: none;
}
.card__link:hover {
  font-weight: 700;
}

.card__link__danger {
  color: #ff4742 !important;
}

.card__link__right {
  margin-left: auto;
  margin-right: 28px;
}

.overlay {
  position: relative;
}

.overlay:after {
  content: " ";
  z-index: 10;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0);
}

.btn__outline__danger {
  z-index: 10;
  font-size: 1.5em;
  min-width: 6em;
  height: fit-content;
  background: #ff4742;
  border: 2px solid #ff4742;
  color: white;
  border-radius: 6px;
  text-align: center;
  padding: 0.1em;
  font-weight: 600;
  margin: 0 0 0 15px;
}
.btn__outline__danger:hover {
  background: white;
  color: #ff4742;
}

.btn__outline__normal {
  z-index: 10;
  font-size: 1.5em;
  min-width: 6em;
  height: fit-content;
  background-color: #f58200;
  background-image: linear-gradient(to left, #74ebd5, #9face6);
  border: 2px solid #f58200;
  color: #fff;
  border-radius: 6px;
  text-align: center;
  padding: 0.1em;
  font-weight: 600;
  margin: 0 0 0 15px;
}

.btn__outline__normal:hover {
  background: #fff;
  color: #f58200;
}

.main__top__controls {
  display: flex;
  padding: 20px 20px 0 20px;
  justify-content: flex-end;
}

h1 {
  font-size: 3rem !important;
  letter-spacing: 0.05em !important;
}

p {
  margin-bottom: 0 !important;
}

ul {
  list-style: none;
  padding: 0;
}
