* {
  margin: 0;
  outline: 0;
  font-family: nunito, helvetica, Arial, sans-serif;
  scroll-behavior: smooth;
}

.app {
  /* background-image: radial-gradient(
    rgba(50, 165, 105, 0.3) 1px,
    transparent 0px
  );
  background-size: 20px 20px; */

  display: flex;
  flex-direction: column;
  height: fit-content;
}

.vertical__center {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.blog__header {
  padding-top: 5rem;
  margin-bottom: 3rem;
  text-align: center;
}

.bold {
  font-weight: bold;
}

.textLeft {
  text-align: left;
}

h1 {
  font-size: 3rem !important;
  letter-spacing: 0.05em !important;
}

ul {
  list-style: none;
  padding: 0;
}

#backtoTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 0.6rem;
  transition: all 0.3s;
  z-index: 9;
}
#backtoTop > a {
  text-decoration: none;
  display: -webkit-inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #f58200;
  color: #fff;
  width: 5vw;
  min-width: 50px;
  max-width: 100px;
  height: 5vw;
  min-height: 50px;
  max-height: 100px;
  text-align: center;
  border-radius: 100px;
  opacity: 0.6;
  font-size: 1rem;
}
