<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gia Sư Online</title>
    <link rel="stylesheet" href="/css/dashboard.css?v=1" />
    <script src="/js/jquery-3.4.1.min.js"></script>
    <link rel="icon" href="favicon.svg" type="image/x-icon" />
    <script>
      $(function () {
        $("#btnJoinClass").click(() => {
          alert("btnJoinClass click");
        });
      });
    </script>
  </head>
  <body class="dashboard">
    <div class="dashboard__header">
      <button class="dashboard__button-active">
        <a href="/joinClass" class="dashboard__linkButton">Join</a>
      </button>
      <button class="dashboard__button-normal" id="btnJoinClass">button</button>
      <form action="/logout?_method=DELETE" method="POST">
        <button type="submit">Log Out</button>
      </form>
    </div>
    <div class="dashboard__body">
      <button class="dashboard__button-normal">
        <a href="/joinClass" class="dashboard__linkButton">Join</a>
      </button>
      <button class="dashboard__button-normal">button</button>
      <button class="dashboard__button-normal">button</button>
      <button class="dashboard__button-normal">button</button>
      <button class="dashboard__button-normal">button</button>
    </div>
  </body>
</html>
