<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .wrapper {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-auto-rows: 98vh;
        gap: 5px;
        position: relative;
      }
      .box1 {
        background: aqua;
        grid-column-start: 1;
        grid-column-end: 8;
        grid-row-start: 1;
        grid-row-end: 1;
        position: relative;
        width: 100%;
        height: 98vh;
      }
      .box2 {
        background: chocolate;
        grid-column-start: 8;
        grid-column-end: 11;
        grid-row-start: 1;
        grid-row-end: 1;
        position: relative;
        width: 100%;
        height: 48vh;
      }
      .box3 {
        background: lightblue;
        grid-column-start: 8;
        grid-column-end: 11;
        grid-row-start: 2;
        grid-row-end: 2;
        position: relative;
        width: 100%;
        height: 50vh;
        margin-top: -51vh;
      }
    </style>
  </head>
  <body>
    <div class="wrapper">
      <div class="box1">
        <div class="top">One top</div>
        <div class="top">One bottom</div>
      </div>
      <div class="box2">Two</div>
      <div class="box3">Three</div>
    </div>
  </body>
</html>
