<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: 98vh;
        gap: 5px;
        position: relative;
      }
      .box1 {
        background: aqua;
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 1;
        position: relative;
        width: 100%;
        height: 98vh;
      }
      .box2 {
        background: chocolate;
        position: absolute;
        top: 0;
        right: 0;
        width: 20vw;
        height: 400px;
        z-index: 100;
      }
      .box3 {
        background: lightblue;
        position: absolute;
        height: fit-content;
        right: 0px;
        top: 400px;
        width: 23vw;
      }

      .box3_full {
        background: lightblue;
        position: absolute;
        height: 95vh;
        right: 0px;
        left: 0px;
        top: 30px;
        width: 98vw;
      }
    </style>
  </head>
  <body>
    <div class="wrapper">
      <div class="box1">One</div>
      <div class="box2">Two</div>
      <div class="box3">Three</div>
    </div>
  </body>
</html>
