<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/Online_class.css?v=1" />
    <script src="bundle.js"></script>
    <script src="/js/adapter-latest.js" defer></script>
    <script src="/js/main.js" defer></script>
  </head>
  <body class="app__contents">
    <video id="screenVideo" autoplay playsinline muted></video>

    <div style="visibility: hidden">
      <input type="text" hidden value="<%= roomId %>" id="roomId" /><br />
      <input type="text" hidden id="userId" alt="userId" /><br />
      <input type="text" hidden id="userName" alt="userName" /><br />
      <input type="text" hidden id="fullName" alt="fullName" /><br />
      <p hidden id="message">message</p>
    </div>

    <div class="app__right" id="divChat" style="visibility: collapse">
      <div class="app__right__chat">
        <div class="app__right__chatContents" id="app__right__chatContents">
          <!-- <p class="chat__receiver">
              <span class="chat__name">Duydk</span>
              message
            </p>
            <p class="chat__message">
              <span class="chat__name"> </span> a message
            </p> -->
        </div>
      </div>
      <div class="app__right__chatInput">
        <form>
          <input
            type="text"
            placeholder="Type a message"
            id="txtMessage"
            autocomplete="off"
          />
          <button type="submit" id="btnSubmitMessage">Send</button>
        </form>
      </div>
    </div>

    <div class="app__right__videoFullScreen" id="divVideos">
      <div id="teacherVideoGrid"></div>
      <div id="studentVideoGrid"></div>
    </div>

    <div class="app__buttons">
      <button
        class="img__button"
        onclick="btnTurnOnCameraClick()"
        id="btnTurnOnCamera"
      >
        <img src="/icons/videocam-24px.svg" alt="Video" />
      </button>
      <button
        class="img__button"
        onclick="btnTurnOffMicClick()"
        id="btnTurnOffMic"
      >
        <img src="/icons/mic-24px.svg" alt="Video" />
      </button>
      <button class="img__button" id="startButton">
        <img src="/icons/screen_share-24px.svg" alt="Share Screen" />
      </button>
      <button class="img__button" id="btn50_50">
        <img id="img5050" src="/icons/people_outline-24px.svg" alt="50 50" />
      </button>
      <button class="img__button" id="btnChat">
        <img
          id="imgChat"
          src="/icons/speaker_notes_off-24px.svg"
          alt="Share Screen"
        />
      </button>
    </div>

    <button
      class="app__buttons-exit"
      onclick="btnEndCoursesClick()"
      id="btnEndCourses"
    >
      Exit
    </button>
  </body>
</html>
