* {
  font-family: nunito, helvetica, Arial, sans-serif;
  font-size: 1em;
  color: black;
}

.app__contents {
  background-image: linear-gradient(45deg, #363638, #363638);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 99vh;
  position: relative;
  border-radius: 10px;
  flex-direction: row;
  margin: 5px;
  overflow: hidden;
}

/* ------------------------------------------------- */
.app__buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: transparent;
  position: absolute;
  left: 15px;
  bottom: 12px;
}

.app__buttons-normal {
  background: #ccc;
  font-size: 1.15em;
  border: 2px solid #ccc;
  min-width: 8em;
  min-height: 2.5em;
  border-radius: 6px;
  outline: none;
  margin: 10px;
  cursor: pointer;
  transition: transform 10ms;
  height: fit-content;
}

.app__buttons-normal:hover {
  background: white;
  transform: scale(1.07);
}

.app__buttons-active {
  background: #5bc6c6;
  color: white;
  border: 2px solid #5bc6c6;
  font-size: 1.15em;
  min-width: 8em;
  min-height: 2.5em;
  border-radius: 6px;
  outline: none;
  margin: 10px;
  height: fit-content;
}
.app__buttons-active:hover {
  background: white;
  color: #5bc6c6;
}

.app__buttons-exit {
  background: #bf79a8;
  font-size: 1em;
  border: 2px solid #ccc;
  min-width: 4em;
  min-height: 2em;
  border-radius: 6px;
  outline: none;
  margin: 10px;
  cursor: pointer;
  transition: transform 10ms;
  height: fit-content;
  position: absolute;
  top: 13px;
  right: 10px;
}
.app__buttons-exit:hover {
  background: white;
  transform: scale(1.07);
}

.img__button {
  background: transparent;
  border-radius: 6px;
  margin: 10px;
  cursor: pointer;
  transition: transform 10ms;
  outline: none;
  border: none;
  transition: transform 10ms;
}

.img__button:hover {
  transform: scale(1.1);
}

.img__button > img {
  width: 40px;
  background: white;
  border-radius: 10px;
  padding: 0 5px;
}

/* ----------------------------------- */

/* ----------------------------------- */
.app__right {
  position: absolute;
  top: 0;
  right: 10px;
  width: 20vw;
  height: 40vh;
  z-index: 100;
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  border-radius: 10px;
  border: none;
  overflow-y: auto;
}

.app__right__chat {
  height: 80%;
}

.app__right__video {
  height: 60%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  position: absolute;
  height: fit-content;
  right: 0px;
  top: 40vh;
  width: 23vw;
  margin-right: 10px;
}

.app__right__videoFullScreen {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  width: 100%;
  position: absolute;
  align-items: center;
  justify-content: center;
}

.app__right__chatContents {
  background-image: linear-gradient(to left, #1c1c1f, #363638);
  border-radius: 10px;
  height: 100%;
  border: 1px solid #ccc;
  margin-top: 5px;
  overflow-y: auto;
  min-height: 30px;
}

.chat__message {
  position: relative;
  padding: 5px;
  width: fit-content;
  border-radius: 10px;
  background-color: #ededed;
  margin: 3px;
}

.chat__receiver {
  background-color: #cdf8c6;
  padding: 0;
  position: relative;
  padding: 5px;
  width: fit-content;
  border-radius: 10px;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-right: 3px;
  margin-left: auto;
}

.chat__name {
  font-weight: 600;
  margin-right: 5px;
}

/* ----------------------------------- */

.app__right__chatInput {
  display: flex;
  align-items: center;
  height: 50px;
  margin-top: 5px;
}

.app__right__chatInput > form {
  display: flex;
  flex: 1;
}

.app__right__chatInput > form > input {
  border-radius: 10px;
  padding: 10px;
  border: none;
  outline-width: 0;
  background: #ccc;
  width: 100% !important;
}

.app__right__chatInput > form > button {
  border-radius: 10px;
  margin: 0 0 0 5px;
  background: #ccc;
  outline: none;
  border: none;
  color: gray;
}

/* ----------------------------------- */

.video_600_800 {
  height: auto;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
}

.video_300_400 {
  height: auto;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
}

#screenVideo {
  height: 98vh;
}
