.category__card {
  display: flex;
}

.category__card__avatar {
  object-fit: cover;
  min-width: 10vh;
  max-width: 10vh;
  min-height: 10vh;
  max-height: 10vh;
  margin-right: 20px;
}

.category__cardinfo {
  display: flex;
  flex-direction: column;
  min-width: 280px;
}

.teacher__sched {
  display: flex;
}

.category__card__field {
  display: flex;
  margin-bottom: 3px;
}

.category__cardsched {
  display: flex;
  flex-direction: column;
  min-width: 280px;
  margin-bottom: 3px;
  margin-left: 20px;
}

.category__cardsched img {
  height: 20px !important;
  text-align: center;
}

.category__card__time {
  display: flex;
  flex-direction: row;
  margin-bottom: 3px;
  margin-right: 20px;
}

.category__card__day {
  width: 100px;
}
