.useImages__datagrid {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  height: fit-content;
  overflow-y: visible;
  margin: 10px 20px;
}

.useImages__form {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid #f58200;
}

.useImages__form__image {
  object-fit: cover;
  min-width: 7vw;
  max-width: 7vw;
  height: 10vh;
  margin: 10px;
}

.useImages__content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.useImages__content__inputs {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 5px;
}

.useImages__content__inputs > input {
  margin-bottom: 5px;
}

.useImages__content__buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px 50px 0px 50px;
  margin: auto;
  text-align: center;
}
.useImages__content__buttons > p {
  min-width: 100px;
}

.useImages__content__header {
  font-size: 1.2rem;
  margin: 0;
  font-weight: 600;
  color: #0977bc;
}

.useImages__content__content {
  font-size: 1.1rem;
  margin: 0;
}
