.vocabularies__controls {
  display: flex;
  padding-top: 20px;
  margin-right: 7px;
  justify-content: flex-end;
}

.vocabularies__datagrid {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  height: 100vh;
  overflow-y: visible;
}
