.vocabulary__modal {
  width: 70vw !important;
  min-width: 70vw !important;
}
.course__modal__60w {
  width: 80%;
  height: 80vh;
  max-width: none !important;
}

.course__modal {
  display: flex;
  height: 70vh;
  overflow-y: auto;
}

.couse__modal__left {
  flex: 0.4;
}

.couse__modal__left__img {
  max-width: 400px;
  width: 100%;
}

.couse__modal__center {
  flex: 0.6;
  margin-left: 10px;
}
