.dashboard {
  display: flex;
}
.MuiDataGrid-colCellWrapper {
  background-color: cornflowerblue;
  font-size: 1.2rem;
}
.MuiDataGrid-cell {
  font-size: 1.2rem;
}
/* ------------------------------------------------- */
.item__badge {
  height: 20px;
  display: flex;
  padding: 0 7px;
  font-size: 11px;
  min-width: 20px;
  align-items: center;
  font-weight: 600;
  border-radius: 20px;
  background-color: rgb(244, 67, 54);
  color: rgb(255, 255, 255);
  margin-top: 2px;
  margin-left: auto;
}

.dashboard__content {
  padding: 20px;
  flex: 1;
}
