.dashboard {
  display: flex;
}

.dashboard__menu {
  width: 320px;
  min-width: 320px;
  padding: 20px;
  height: 100vh;
  border-right: 1px solid #f58200;
  box-shadow: 7px 0 60px rgba(0, 0, 0, 0.05);
}
.dashboard__menu__header {
  text-align: center;
  padding-bottom: 2rem;
  border-bottom: 1px solid gray;
}

.dashboard__menu__main {
  font-size: 1.5rem;
  margin: 0.15rem 0;
  font-weight: bold;
  color: #3f6ad8;
  position: relative;
}

.dashboard__menu__item {
  text-decoration: none;
  display: flex;
  position: relative;
  border-radius: 0.25rem;
  color: #343a40;
  transition: all 0.2s;
  margin: 0.1rem 0;
  font-size: 1.2rem;
  padding-left: 1rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.dashboard__menu__item:hover {
  text-decoration: none;
}

.dashboard__menu__item > svg {
  margin-right: 10px;
}

.dbmi__active {
  color: #3f6ad8;
  background: #e0f3ff;
  font-weight: bold;
}

.dashboard__menu__user {
  font-size: 1.6rem;
  color: inherit;
}

.dashboard__menu__email {
  font-size: 1.3rem;
  color: inherit;
}

.dashboard__menu__avatar {
  margin: 0 auto;
  width: 120px !important;
  height: 120px !important;
}
/* ------------------------------------------------- */
.item__badge {
  height: 20px;
  display: flex;
  padding: 0 7px;
  font-size: 11px;
  min-width: 20px;
  align-items: center;
  font-weight: 600;
  border-radius: 20px;
  background-color: rgb(244, 67, 54);
  color: rgb(255, 255, 255);
  margin-top: 2px;
  margin-left: auto;
}

.dashboard__content {
  padding: 20px;
  flex: 1;
}
