.course__modal {
  width: 80vw !important;
  min-width: 80vw !important;
  display: flex;
  flex-direction: column;
  height: 86vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.course__modal__body {
  display: flex;
}

.couse__modal__left {
  width: fit-content;
}

.couse__modal__left__img {
  max-width: 400px;
  width: 100%;
}

.couse__modal__center {
  margin-left: 20px;
  min-height: 80vh;
}
