.special__courses__card {
  width: 100%;
  margin: 10px;
  margin-bottom: 4vh !important;
  border-radius: 10px;
}

.special__courses__card > img {
  object-fit: cover;
}

.courses__card__lession {
  display: flex;
  justify-content: space-between;
}

.courses__card__lession-item > p {
  margin: 0;
}

.courses__card__footer {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 0;
  height: 40px;
  align-items: center;
  padding: 0 1.2rem;
}

.special__courses__cardBody {
  display: flex;
  flex-direction: row;
}

.cardbody__right {
  text-align: left;
  width: 70%;
  padding-left: 20px;
}
