.special__courses {
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
  padding: 0px;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.special__courses__deck {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 30%);
  grid-column-gap: 3vw;
  justify-content: center;
}

.special__courses__card {
  width: 100%;
  margin: 10px;
  margin-bottom: 4vh !important;
}

.special__courses__card > img {
  object-fit: cover;
}

.courses__card__lession {
  display: flex;
  justify-content: space-between;
}

.courses__card__lession-item > p {
  margin: 0;
}

.courses__card__footer {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 0;
  height: 40px;
  align-items: center;
  padding: 0 1.2rem;
}

.courses__card__footer > img {
  height: 30px;
  padding: 0;
}
