.special__courses {
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
  padding: 0px;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.special__courses__deck {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(1, 100%);
  grid-column-gap: 3vw;
  justify-content: center;
}
