.whyus {
  padding-top: 3rem;
  /* background: url(http://localhost:3000/img/bg_pc.webp) center 0 #f5f5f5;
  background-repeat: repeat;
  background-size: 160px 160px;
  border-bottom: 1px solid gray; */
}

.whyus__title {
  text-align: center;
  margin-bottom: 2rem;
}

.whyus__motive {
  display: flex;
  justify-content: center;
}

/* #region motive__detail */
.whyus__motive__detail {
  position: relative;
  width: 100%;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.whyus__motive__detail > ul > li {
  position: relative;
  width: 100%;
  height: 80vh;
  min-height: 500px;
  overflow: hidden;
  display: inline-block;
}
.skewL {
  transform: skew(0deg, -3deg);
}
.skewR {
  transform: skew(0deg, 3deg);
}

.detailBox {
  position: absolute;
  top: calc(30vh - 1.5rem);
  transform: translate(0, -50%);
  width: 30%;
  padding: 1rem 1rem;
  background: rgba(255, 255, 255, 0.8);
  opacity: 1;
  transition: all 0.7s;
  z-index: 1000;
  background: rgba(255, 249, 201, 0.8);
  border-radius: 10px;
}

.posR {
  right: 0;
}

.posL {
  left: 3rem;
}

.nonview {
  opacity: 1;
  transition: all 0.7s;
  transform: translate(-3rem, -50%);
}
/* #endregion */
/* ------------------------------------------------------------------------ */
.whyus__strength {
  position: relative;
  background-color: #fffff0;
  margin-top: -3rem;
  padding: 3rem 0;
  width: 100%;
}

.whyus__regist {
  height: 300px;
}
